<h2>Maths these two numbers</h2>
<form method="post" action="/calculator/mathser">
  <input type="number" name="left" value="0" step="any" required>
  <input type="number" name="right" value="0" step="any" required>
  <br/>
  <br/>
  <button class="mathButton" name="calcChoice" value="add">+</button>
  <button class="mathButton" name="calcChoice" value="subtract">-</button>
  <button class="mathButton" name="calcChoice" value="multiply">x</button>
  <button class="mathButton" name="calcChoice" value="divide">/</button>
  <button class="mathButton" name="calcChoice" value="modulo">%</button>
  <button class="mathButton" name="calcChoice" value="exponent">^</button>
</form> 
